<%- include('./partials/header') %>


<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
  <% if (user) { %>
    <nav class="navbar-transparent navbar navbar-fixed-top  data-spy="affix">
        <ul id="primaryToolbar" class="clearfix">
            <li> <img alt="Brand" class="navbar-brand" src='<%=user.photo%>'> </li>
            <li>Hello <%=user.first_name%><a href="/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/google">Login with Google</a></li>
            <% } %>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">OTHER THING</a></li>
        </ul>
  </nav>

  <div class="container">
      <div class="dropdown" id="block">
        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Looking for:
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">DOGS</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CATS</a></li>
        </ul>
        <div class="dropdown" id="block">
          <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">SIZE
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BIG</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SMALL</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">XLARGE</a></li>  
          </ul>
          <div class="dropdown" id="block">
          <button class="btn btn-primary dropdown-toggle" id="menu3" type="button" data-toggle="dropdown">AGE
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PUPPY</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">YOUNG</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ADULT</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SENIOR</a></li>  
          </ul>
          <button class="btn btn-secondary" type="button">Go!</button>
        </div>
    </div>
 


<%- include('./partials/footer') %>