<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>

<h1>Search Results</h1>

<div>
<% doc.petfinder.pets.pet.forEach(function(pet) {%>
<h2><%=pet.name.$t%></h2>
    <p><%=pet.contact.city.$t%> | <%=pet.contact.zip.$t%></p>
    <p><%=pet.age.$t%>
    <%=pet.size.$t%>
    <%=pet.sex.$t%>
    <%=pet.id.$t%>
    <%=pet.shelterPetId.$t%></p>
    <p><img src="<%=pet.media.photos.photo[0].$t%>"></p>
    <% }); %>
</div>

<script src="/javascripts/pets.js"></script>

<%- include('./partials/footer') %>

