
<h1>this is the search page</h1>

<h1>heres the bottom</h1>
<div>
<% doc.petfinder.pets.pet.forEach(function(pet) {%>
<h2><%=pet.name.$t%></h2>
    <p><%=pet.contact.city.$t%> | <%=pet.contact.zip.$t%></p>
    <p><%=pet.age.$t%>
    <%=pet.size.$t%>
    <%=pet.sex.$t%>
    <%=pet.id.$t%>
    <%=pet.shelterPetId.$t%></p>
    <p><img src="<%=pet.media.photos.photo[0].$t%>"></p>
    <% }); %>
</div>

<script type="text/template" id="petTemplate">

     <h1>Hey</h1>
     <h3>something here</h3>

</script>

<%- include('./partials/footer') %>

