<%- include('./partials/header') %>
<div class="container" id="profile">
    <div class="row" id="pref">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-med-6 col-lg-6 col-xl-6 lead">User profile<hr></div>
                </div>
                <div class="row">
			        <div class="col-xs-12 col-sm-6 col-med-6 col-lg-6 col-xl-6 text-center">
                        <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
                            display:block; margin:auto;" src='<%=user.photo%>' height="100" width="100">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-med-6 col-lg-6 col-xl-6">
                        <h1 class="only-bottom-margin"><%=user.first_name%> <%=user.last_name%></h1>
                            <span class="text-muted">Email:</span><%=user.email%> <br>
                            <span class="text-muted">Phone Number:</span><%=user.phone_num%><br>
                            </div>
                            <div class="col-xs-12">
                                <form action ="/profile" method="POST" class:"pet-pref" style="-webkit-user-select:none; 
                                display:block; margin:auto">
                                    <h3>Pet Preferences:</h3>
                                <div class="input-group col-xs-8">
                                    <label for="Select1">Im looking to Adopt a..</label>
                                    <select class="form-control" id="Select1" value="<%= user.preferences.species %>" name="animal">
                                        <option class="species" value="dog">Dog</option>
                                        <option class="species" value="cat">Cat</option>
                                    </select>
                                </div>
                                <div class="input-group col-xs-8">
                                    <label for="Select2">Age:</label>
                                  <select class="form-control" id="Select2" value="<%= user.preferences.age %>" name="age">
                                    <option class="age" value="Baby">Baby</option>
                                    <option class="age" value="Young">Young</option>
                                    <option class="age" value="Adult">Adult</option>
                                    <option class="age" value="Senior">Senior</option>
                                  </select>
                                </div>
                                <div class="input-group col-xs-8">
                                    <label for="Select3">Size:</label>
                                    <select class="form-control" id="Select3" value="<%= user.preferences.size %>" name="size">
                                        <option class="size" value="S">Small</option>
                                        <option class="size" value="M">Medium</option>
                                        <option class="size" value="L">Large</option>
                                    </select>
                                </div>
                                <div class="control-group col-xs-8">
                                    <label>Zip Code:</label>
                                        <input id="postal-code" name="zip" type="text" placeholder="<%= user.preferences.zipcode %>"
                                        class="input-xlarge">
                                    <p class="help-block"></p>
                                </div>
                                <div class="input-group-btn col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
                                      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
<!-- HERE IS THE FAVORITES  -->            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 lead">Pet Favorites<hr>
                            <% if(user.favPets.length === 0) { %>
                                <h3>No favorites, click here to find your furry friend!</h3>
                            <% } else { %>
                                <h4>click pet to view details</h4>
                                <div class="row">
                                    <div class="col-xs-12">
                                    <% user.favPets.forEach(function(dog) { %>
                                        <div class="col-xs-2">
                                            <h4><%= dog.name %></h4>
                                            <a href="/pets/favorites/<%=dog.id%>"><img src="<%= dog.photos[0] %>" class="photo-resize2"></a>
                                        </div> 
                                    <% }); %>
                                    </div>
                                </div>
                            <% } %>
                            </div>
                        </div>
                    </div>
            
        </div>
    </div>
</div>       

<script src="/javascripts/profile.js"></script>

<%- include('./partials/footer') %>
