<%- include('./partials/header') %>

<h1>Search Results</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <% doc.petfinder.pets.pet.forEach(function(pet) {%>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <h2><%=pet.name.$t%></h2>
                    <img src="<%=pet.media.photos.photo[3].$t%>" class="photo-resize">
                    <p><%=pet.contact.city.$t%> | <%=pet.contact.zip.$t%></p>
                    <p><%=pet.age.$t%>
                    <%=pet.size.$t%>
                    <%=pet.sex.$t%>
                    <%=pet.id.$t%>
                    <a href="/pets/<%=pet.id.$t%>">pick me!</a>
                    <%=pet.shelterPetId.$t%></p>
                    <button id="<%=pet.id.$t%>" class="favorite"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<script src="/javascripts/results.js"></script>

<%- include('./partials/footer') %>

