<%- include('./partials/header') %>

<h1 class ="fixed padding-bottom">Search Results</h1>
<a id="sticky-link" href="/profile"><i class="glyphicon glyphicon-eye-open"></i> | View My Favorites</a><br>
<a id="sticky-link" href="/"><i class="glyphicon glyphicon-backward"></i> | Back To Search</a><br>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12">      
            <form action ="/pets" method="POST">
                <div class="input-group col-xs-3"id="find2">
                    <label for="Select1">Im looking to Adopt a..</label>
                    <select class="form-control" id="Select1" name="animal">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select>
                </div>
                <div class="input-group col-xs-3" id="find2">
                    <label for="Select2">That is a..</label>
                    <select class="form-control" id="Select2" name="age">
                        <option>Baby</option>
                        <option>Young</option>
                        <option>Adult</option>
                        <option>Senior</option>
                    </select>
                </div>
                <div class="input-group col-xs-3"id="find2">
                <label for="Select3">And is..</label>
                <select class="form-control" id="Select3" name="size">
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
                </div>
                <div class="col-xs-2">
                    <div class="input-group"id="find2">
                    <label class="control-label">Near..</label>
                    <input name="zip" type="text" placeholder="zip or postal code" maxlength="5" required pattern=^\d{5}$ class="input-xlarge text-field-padding">
                    </div>
                    <div class="col-xs-1">
                    <button type="submit" class="btn-change"id="find2">Search!</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
            <% if (doc.petfinder.pets === undefined) { %>
                <h1>Sorry, we couldnt find any friends near here, try a different area!</h1>
            <% } else { %>
                <% doc.petfinder.pets.pet.forEach(function(pet) {%>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 centered">
                    <h2 id="pet-name"><%=pet.name.$t%></h2>
                    <% if (pet.media.photos === undefined || pet.media === undefined) { %>
                    <a href="/pets/<%=pet.id.$t%>"><img src="http://i.imgur.com/vI1T0h6.jpg?1" class="photo-resize round"></a>
                    <% } else { %>
                    <a href="/pets/<%=pet.id.$t%>"><img src="<%=pet.media.photos.photo[2].$t%>" class="photo-resize round"></a>       
                    <% }; %>
                    <p class="centered"><%=pet.contact.city.$t%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=pet.contact.state.$t%>&nbsp;&nbsp;|&nbsp;&nbsp; <%=pet.contact.zip.$t%></br>
                    <% if (pet.sex.$t === "M") { %>
                    Male
                    <% } else { %>
                    Female
                    <% } %></br>
                    <span id="<%= pet.id.$t %>" class="boob glyphicon glyphicon-heart resize-glyph <% if(petArray.indexOf(pet.id.$t) > -1) {%> red <%}%>" aria-hidden="true" data-userid='<%= user._id %>' name ="<%= pet.id.$t%>"></span>
                </div>
                <% }); %>
            <% } %>
        </div>
        </div>
    </div>
    </div>
</div>

<script src="/javascripts/results.js"></script>

<%- include('./partials/footer') %>


