<%- include('./partials/header') %>

<h1>Search Results</h1> <a href="/profile">My Favorites</a>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <% if (doc.petfinder.pets === undefined) { %>
                <h1>Sorry, we couldnt find any friends near here, try a different area!</h1>
            <% } else { %>
                <% doc.petfinder.pets.pet.forEach(function(pet) {%>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 centered">
                    <h2><%=pet.name.$t%></h2>
                    <% if (pet.media.photos === undefined || pet.media === undefined) { %>
                    <img src="http://i.imgur.com/vI1T0h6.jpg?1" class="photo-resize-round">
                    <% } else { %>
                    <a href="/pets/<%=pet.id.$t%>"><img src="<%=pet.media.photos.photo[2].$t%>" class="photo-resize round"></a>       
                    <% }; %>
                    <p class="centered"><%=pet.contact.city.$t%>|<%=pet.contact.state.$t%>| <%=pet.contact.zip.$t%><br>
                    <%=pet.age.$t%>
                    <%=pet.size.$t%>
                    <%=pet.sex.$t%>
                    <%=pet.id.$t%>
                    <%=pet.shelterPetId.$t%></p>
                    <span id="<%= pet.id.$t %>" class="boob glyphicon glyphicon-heart" aria-hidden="true" data-userid='<%= user._id %>' name ="<%= pet.id.$t%>"></span>
                </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>

<script src="/javascripts/results.js"></script>

<%- include('./partials/footer') %>

