<%- include('./partials/header') %>

<h1 class ="fixed padding-bottom"><i class="fa fa-paw" aria-hidden="true"></i> | Search Results</h1>
<a id="sticky-link" href="/profile"><i class="glyphicon glyphicon-eye-open"></i> | View My Favorites</a><br>
<a id="sticky-link" href="/"><i class="glyphicon glyphicon-backward"></i> | Back To Search</a><br>
<div class="container" style="box-sizing: content-box;display: inherit;">
    <div class="row">
        <form action ="/pets" method="POST" class="form-inline centered3">
            <div class="input-group col-xs-12 col-sm-2 col-med-2 col-lg-2 col-xl-2">
                <label for="Select1">Adopt a..</label>
                <select class="form-control" id="Select1" name="animal">
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                </select>
            </div>
            <div class="input-group col-xs-12 col-sm-2 col-med-2 col-lg-2 col-xl-2">
                <label for="Select2">That is a..</label>
                <select class="form-control" id="Select2" name="age">
                    <option>Baby</option>
                    <option>Young</option>
                    <option>Adult</option>
                    <option>Senior</option>
                </select>
            </div>
            <div class="input-group col-xs-12 col-sm-2 col-med-2 col-lg-2 col-xl-2">
                <label for="Select3">And is..</label>
                <select class="form-control" id="Select3" name="size">
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
            </div>
            <div class="input-group col-xs-12 col-sm-2 col-med-2 col-lg-2 col-xl-2">
                <label class="control-label">Near..</label><br>
                <input name="zip" type="text" placeholder="zip or postal code" maxlength="5" required pattern=^\d{5}$ class="text-field-padding">
            </div>
            <div class="input-group col-xs-2">
                <label></label>
                <button type="submit" class="btn-change "id="find2">Search!</button>
            </div>
        </form>
    </div>
    </br>
        <!--<div id="map2" class="centered3"><div>-->
        <% if (doc.petfinder.shelters === undefined || doc.petfinder.shelters.shelter === undefined) { %>
            <h1>Sorry, we couldnt find any friends near here, try a different area!</h1>
        <% } else { %>
            <% doc.petfinder.shelters.shelter.forEach(function(shelter) {%>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 centered">
                    <a href="/search/shelters/<%=shelter.id.$t%>" class="shelter"name="<%=shelter.id.$t%>"><h3 class="centered"><%=shelter.name.$t%></h3></a>
                    <p class="centered">
                        <% if(shelter.phone.$t) { %>
                            <%=shelter.phone.$t%>
                        <% } %> |
                        <% if (shelter.email.$t) { %>
                            <%=shelter.email.$t %>
                        <% } %></br>
                        <%= shelter.city.$t%>&nbsp;,&nbsp;<%= shelter.state.$t%>
                    </p></br>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-6"style="text-align:right">
            <form action ="/search/shelters" method="POST" id="results-search">
                <input name="zip"class="hidden" value= "<%=query.zip%>" name="zip">
                <input class="hidden" name="offset" value="<%= query.offset - 50 < 0 ? 0 : query.offset - 50  %>">
                <button type="submit" class="btn-change"><i class="glyphicon glyphicon-chevron-left"> </i></button>
            </form>
        </div>
        <div class="col-xs-6"style="text-align:left">
            <form action ="/search/shelters" method="POST" id="results-search">
                <input name="zip"class="hidden" value= "<%=query.zip%>" name="zip">
                <input class="hidden" name="offset" value="<%= query.offset %>">
                <button type="submit" class="btn-change"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </form>
        </div>
    </div>
</div>
<script src="/javascripts/results.js"></script>
<script>
    function initMap() {
    //   console.log(position.results[0].geometry.location.lat)
    let latitude = <%- JSON.stringify(position.results[0].geometry.location.lat) %>;
    let longitude= <%- JSON.stringify(position.results[0].geometry.location.lng) %>;
    let mapOptions = {
            center:{lat:latitude, lng:longitude},
            zoom:12
        }
    var map = new google.maps.Map(document.getElementById('map2'), 
        mapOptions);
    marker = new google.maps.Marker({
        position: mapOptions.center,
        map: map
    });
    }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK8vdBhGeopGpTPRv6lT4S99xT7FqmuUA&callback=initMap">
</script>



<%- include('./partials/footer') %>