<h1>This is Where your future friend lives</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h2><%=doc.name.$t%></h2>
                <img src="<%=doc.media.photos.photo[3].$t%>">
                <p><%=doc.contact.city.$t%> | <%=doc.contact.zip.$t%></p>
                <p><%=doc.age.$t%>
                <%=doc.size.$t%>
                <%=doc.sex.$t%>
                <%=doc.id.$t%>
                <%=doc.shelterPetId.$t%></p>

        </div>
    </div>
</div>