<h1>This is Where your future friend lives</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h2><%=doc.petfinder.pet.name.$t%></h2>
                <img src="<%=doc.petfinder.pet.media.photos.photo[3].$t%>">
                <p><%=doc.petfinder.pet.contact.city.$t%> | <%=doc.petfinder.pet.contact.zip.$t%></p>
                <p><%=doc.petfinder.pet.age.$t%>
                <%=doc.petfinder.pet.size.$t%>
                <%=doc.petfinder.pet.sex.$t%>
                <%=doc.petfinder.pet.id.$t%>
                <%=doc.petfinder.pet.shelterPetId.$t%></p>
                <p><%=doc.petfinder.pet.description.$t%></p>
        </div>
    </div>
</div>