<%- include('./partials/header') %>
<br>
<div class="row">
  <div class="col-xs-12">
    <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div style="overflow: hidden" id="main-page-image">
        <img src="http://i.imgur.com/SyueVHd.jpg" class="img-responsive">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="col-xs-12">
        <h3> <a id="SEARCH_LINK">FIND YOUR NEXT BEST FRIEND</a></h3>
        <h4 id="subtext"><strong>SAVE A LIFE</strong></h4>          
        <% if (user) { %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
          <form action ="/pets" method="POST" class:"main-search">
            <div class="input-group col-xs-12">
              <label for="Select1">Im looking to Adopt a..</label>
              <select class="form-control" id="Select1" name="animal" value="<%= user.preferences.species %>">
                <option value="dog" <%= user.preferences.species === 'dog' ?  'selected' : ''  %>>Dog</option>
                <option value="cat" <%= user.preferences.species === 'cat' ?  'selected' : ''  %>>Cat</option>
              </select>
            </div>
            <div class="input-group col-xs-12">
              <label for="Select2">That is a..</label>
              <select class="form-control" id="Select2" name="age" value="<%= user.preferences.age %>">
                <option value="Baby" <%= user.preferences.age === 'Baby' ?  'selected' : ''  %>>Baby</option>
                <option value="Young" <%= user.preferences.age === 'Young' ?  'selected' : ''  %>>Young</option>
                <option value="Adult" <%= user.preferences.age === 'Adult' ?  'selected' : ''  %>>Adult</option>
                <option value="Senior" <%= user.preferences.age === 'Senior' ?  'selected' : ''  %>>Senior</option>
              </select>
            </div>
            <div class="input-group col-xs-12">
              <label for="Select3">And is..</label>
              <select class="form-control" id="Select3" name="size" value="<%= user.preferences.size %>">
                <option value="S" <%= user.preferences.size === 'S' ?  'selected' : ''  %>>Small</option>
                <option value="M" <%= user.preferences.size === 'M' ?  'selected' : ''  %>>Medium</option>
                <option value="L" <%= user.preferences.size === 'L' ?  'selected' : ''  %>>Large</option>
              </select>
            </div>
            <div class="control-group col-xs-12">
              <label class="control-label">Near..</label>
              <div class="controls col-xs-12">
                <input id="postal-code-welcome" name="zip" type="text" placeholder="zip or postal code"
                class="input-xlarge" maxlength="5" required pattern=^\d{5}$>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="input-group-btn col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
              <button type="submit" id="sub" class="btn-change">Search!</button>
            </div>
        </form>
        </div>
        </div>
        <% } else { %><br>
          <p><b> Our Mission:</b><br>
            To use Internet technology and the resources it can generate to:<br>
            Increase public awareness of the availability of high-quality adoptable pets
            Increase the overall effectiveness of pet adoption programs across North America to the extent that the euthanasia of adoptable pets is eliminated
            Elevate the status of pets to that of family member
            From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs. They can then reference a shelter’s web page and discover what services it offers. Petfinder also includes discussion forums, a pet-care resource directory and a library of free pet-care articles to help keep pets in their homes.
          </p>
        <% } %>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div id="petsuccess" style="overflow: hidden"> PET SUCCESS PICTURES </div> 
<div class="carousel-container">
  <div class="carousel-row">
    <div class="col-md-12">
      <div id="Carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
          <li data-target="#Carousel" data-slide-to="2"></li>
        </ol>
<!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/6yQgCN5.jpg" alt="Image" style="max-width:100%"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/5IlDcr2.jpg" alt="Image" style="max-width:100%"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/LteEr2j.jpg" alt="Image" style="max-width:100%"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/wdi9HlA.jpg" alt="Image" style="max-width:100%"></a></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/uzrs2mC.jpg" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/zqtpc9n.jpg" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/w0kIg67.jpg" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/PJutV60.jpg" alt="Image" style="max-width:100%;"></a></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/S3kWRFl.jpg" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/228bDZb.jpg" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/HG1sTU9.jpg" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://i.imgur.com/mlpbfzp.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<% if (user && JSON.stringify(user.preferences) === "{}") { %>
  <button class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#myModalNorm" id="modalTrigger"></button>
<% } %>
<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <!-- Modal Header -->
      <%if (user) { %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Welcome <%= user.first_name %>, <br> Please set your preferences to start your search!
          </h4>
        </div>
  <!-- Modal Body -->
        <div class="modal-body">
          <form role="form" method="POST" action="/?_method=put">
            <div class="form-group">
              <label for="age">I'd love a..</label>
              <select class="form-control" id="Select1" name="animal">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Select2">That is a..</label>
              <select class="form-control" id="Select2" name="age">
                <option>Baby</option>
                <option>Young</option>
                <option>Adult</option>
                <option>Senior</option>
              </select>
            </div>
            <div class="form-group">
              <label for="age">Size</label>
              <select class="form-control" id="Select3" name="size">
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Near What Area</label>
            <div class="controls">
              <input id="postal-code-modal" name="zip" type="text" placeholder="zip or postal code" class="input-xlarge" maxlength="5" required pattern=^\d{5}$>
            </div>
            <button type="submit" class="btn btn-primary" id='submit-btn'> Submit</button><br>
          </form>
        </div>
  <!-- Modal Footer -->
      </div>
    </div>
  </div>
    <% } %>
</div>



















<%- include('./partials/footer') %>


