<%- include('./partials/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
  <% if (user) { %>
  <nav class="navbar-inverse navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <img alt="Brand" class="navbar-brand" src='<%=user.photo%>'>
      </div>
    </div>
  </nav>
  <li>Hello <%=user.first_name%><a href="/logout">Logout</a></li>
  <% } else { %>
  <li><a href="/auth/google">Login with Google</a></li>



  <% } %>  


<%- include('./partials/footer') %>